body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    color: #555;
}

.ring-container {
    width: 90vw;
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ring-circle {
    width: 100%;
    padding-bottom: 100%;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.inner-circle {
    width: 100%; /* Update: Change width to 100% */
    height: 100%; /* Update: Change height to 100% */
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 0; /* Update: Change top to 0 */
    left: 0; /* Update: Change left to 0 */
    transform: translate(-50%, -50%);
    /* Update: Remove top, left, and transform properties */
}

#sizeRange {
    width: 80%;
    margin-bottom: 20px;
}

#ringSize {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
